* 
{
    padding:0;
    margin:0;
    

}
#icon
{
    width: 150px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.Login
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 800px;
    width: 500px;
    background-color: #E8E8E8;

    border-radius: 30px;

   
}
#signInDiv
{
    width: 300px;
    height: 200px;
    
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#Login 
{
    font-family: 'Montserrat';
    font-size: 62px;
    font-weight: bold;
    display: flex;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);    justify-content: center;
    padding-bottom: 15px;
    
}

#Desconect
{
    width: 300px;
    height: 100px;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;
}
#limparEmail
{
    width: 300px;
    height: 100px;
    position: relative;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index:1;
}
 

.loginResponse
{

    width: 600px;
    height: 500px;
    
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    text-align: center;
    justify-content: center;

    
    flex-flow: row wrap;

}


.saudacao img
{
    position: relative;
    width: 200px;
    height: 200px;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
    top: 20%;   

}

#userPic
{
    position: absolute;
    width: 200px;
    height: 200px;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
    top: -130%;   
    left: 27%;

}
.saudacao
{
    font-family: 'Montserrat';
    font-size: 56px;
    font-weight: bold;
    width: 500px;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);    
    justify-content: center;
    padding-bottom: 15px;
    

}

.S9gUrf-YoZ4jf
{
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*

#ImgUsuario
{
    width: 130px;
}


#signInDiv
{
    width: 300px;
    height: 200px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 18px;
    border: 8px #111 solid;
}

.Login
{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    width: 300px;
    height:200px;

    border-radius: 15px;
    background-color: antiquewhite;
} */
